*~

# Intellij IDEA Zeug
/.idea
*.ipr
*.iws
*.iml

# MacOS bedeutet
.DS_Store

# Generierte Grafiken

/logo-aktuell/favicons/favicon*
/logo-aktuell/favicons/apple-touch-icon-*
/logo-aktuell/favicons/*.html


